.contact-container {
  position: relative;
  overflow: hidden;
  background-color: #0a0a0a; /* Black background */
  height: 100vh;
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
}

.success-message {
  color: rgb(1, 15, 170); /* Change to the color of your choice */
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}
.error-message {
  color: rgb(1, 15, 170); /* Change to the color of your choice */
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}
.connect-heading {
  position: absolute;
  top: 10%; /* Adjust to position the heading correctly */
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  margin-bottom: 1rem;
}

.contact-section {
  display: flex;
  justify-content: space-between; /* Creates space between the two columns */
  align-items: flex-start; /* Align items to the top */
  min-height: 80vh;
  width: 90%; /* Limit the width for better control */
  max-width: 1200px; /* Optional: set a max width */
  margin-top: 80px; /* Add some margin to push the section down slightly */
  padding: 1rem;
  z-index: 3;
}

.contact-details {
  max-width: 45%;
  color: #fff;
  font-size: 1rem;
  z-index: 3;
}

.contact-details h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact-details p {
  margin: 0.5rem 0;
}

.form-container {
  max-width: 45%;
  width: 100%;
  z-index: 3;
}

.contact-form label {
  display: block;
  margin-bottom: 0.8rem;
  color: #ccc;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  background-color: transparent;
  border: 2px solid #555;
  border-radius: 20px;
  color: #fff;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--primary_color);
  outline: none;
}

.contact-form button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  background-color: transparent;
  border: 2px solid #555;
  border-radius: 20px;
  color: #fff;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0213ce;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .contact-section {
      flex-direction: column;
      align-items: center; /* Center align for mobile */
      justify-content: center;
  }

  .contact-details,
  .form-container {
      max-width: 90%; /* Take up more space on mobile */
      margin-bottom: 2rem; /* Add some space between sections */
  }

  .connect-heading {
      font-size: 1.5rem;
  }
}
